<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true"/>
	</system.web>


	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="defaultBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="restBehavior">
					<webHttp/>
					<autodocsBehaviorExtension/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<webHttpBinding>
				<binding name="RESTBinding">
					<security mode="None">
						<transport clientCredentialType = "None" proxyCredentialType="None"/>
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
		<extensions>
			<behaviorExtensions>
				<add name="autodocsBehaviorExtension" type="Autodocs.ServiceModel.Web.AutodocsBehaviorExtension, Autodocs.ServiceModel.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ad2dc2e36787b789"/>
			</behaviorExtensions>
		</extensions>
		<services>
			<service behaviorConfiguration="defaultBehavior" name="Autodocs.WebServices.Core.Users">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="RESTBinding" behaviorConfiguration="restBehavior" contract="Autodocs.WebServices.Contracts.Services.IUsers"/>
			</service>
		</services>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="false"/>
	</system.serviceModel>
</configuration>
